.input-plus-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60px;
    margin-bottom: 15px;

    input {
        border: 1px solid #b1b1b1;
        background-color: #dbe2ef;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 9px 10px;
        outline: none;
        font: 1rem/1.4 'Roboto', sans-serif;

        &::placeholder {
            color: #7b7b7b;
        }
    }

    .btn {
        border-radius: none;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        background: #3f72af url('./images/plus.svg') no-repeat center center;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}